body{
    background-color: #0E0E0E;
}

/* Barra de navegacion */
.divframer1{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header {
    background-color: #131313;
    width: 70%;
    border-radius: 20px;
    backdrop-filter: blur(40px);
}
.nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.home .home_fondo{
    height: 40px;
    width: 40px;
    background: #E5E5E5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.svg_home {
    height: 24px;
    width: 24px;
    color:#0E0E0E ;
}
.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav_parrafo > p > a {
    font-family: 'Inter', sans-serif;
    color: #A3A3A3;
}
.nav_parrafo > p > a:hover{
    color: #ffffff;
}
.container_search{
    display: flex;

}
.search_box {
    padding: 8px 30px 8px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background-color:#262626 ;
}
.svg_busqueda {
    height: 24px;
}
.label_search > p{
    color: #D8D8D8;
}
.svg_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.svg_container{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#262626;
    border-radius: 50%;
    cursor: pointer;

}
.svgderecha {
    height: 20px;
    width: 20px;
    color: #A3A3A3;
}
.svgderecha:hover{
    color: #ffffff;
}
.buttom_link {
    background-color: #D8D8D8;
    padding: 14px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.parrafo_buttom {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color:#0E0E0E;
    text-decoration: none;
}
.buttom_svg {
    color:#0E0E0E;
}
/* Fin de barra de navegacion */
/* presentacion */
.divframer2 {
    width: 60%;
    display: block ;
    margin: auto;
}
/* parte izquierda  */
.presentacion {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.presentacion_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
    gap: 32px;
}
.work {
    display: flex;
}
.container_work {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border: 1px solid #262626;
    padding: 5px 10px;
    border-radius: 40px;
    background-color:#151515 ;
}
/* .on_off {

} */
.on_svg {
    width: 20px;
    height: 20px;
    color: #B9925F;
}
.parrafo_work > p {
    font-family: 'Inter', sans-serif;
    color: #D0D0D0;
    font-weight: 700;
}
.presentacion_texto > p{
    color: #F5F5F5;
    font-family: 'Pacifico', cursive;
    font-size: 68px;
}
.sub_titulo{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: #B9925F;
}
.parrafo_presentacion > p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #858585;
}
.container_botones {
    display: flex;
    justify-content: start;
    gap: 20px;
}
.boton_contactar{
    padding: 16px 24px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color:#FDBA72;
    border: 1px solid #FDBA72 ;

}
.black{
    background-color:#0E0E0E;
    color:#F5F5F5 ;
    border: 1px solid #F5F5F5;
}

/* parte derecha  */
.container_presentacion{
}
.container_imagen{
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 20px solid #B9925F;

}
.foto_perfil{
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.fix{
    display: flex;
    justify-content: center;
    align-items:center;
}
.container_redes{
    background-color:rgba(139, 139, 139, 0.301);
    border-radius: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 12px;
    padding: 8px;
    z-index: 1;
}
.box_redes{
    display: flex;
    height: 48px;
    width: 48px;
    background-color: #262626;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.redes_link {
    background-color: #262626;
}
.svg_redes {
    width: 24px;
    color: #ffffff;
}
.svg_redes:hover{
    color:#D0D0D0 ;
}

